{% extends '/liste/liste.html.twig' %}
    {% block title %} Categorie {{ genre.nom }} - Movie One{% endblock %}
    {% block desc %}Nos films dans la categorie {{ genre.nom }}{% endblock %}
    {% block ltitle %} Categorie {{ genre.nom }}{% endblock %}
    {% block pagination %}
        {% if page > 1 %}
            <a href="{{ absolute_url('/liste/categorie?page=' ~ page - 1  ~ '&genre=' ~ genre.id ) }}" class="page-number prev"><i class="fa fa-angle-left"></i></a>
            {% endif %}
            {% for nb in 1 .. nbPage %}
                {% if nb == page %}
                <span class="page-number current">{{ nb }}</span>
                {% else %}
                    <a href="{{ absolute_url('/liste/categorie?page=' ~ nb ~ '&genre=' ~ genre.id ) }}" class="page-number">{{ nb }} </a>
                {% endif %}
            {% endfor %}
                {% if page < nbPage %}
                <a href="{{ absolute_url('/liste/categorie?page=' ~ page + 1 ~ '&genre=' ~ genre.id ) }}" class="page-number next"><i class="fa fa-angle-right"></i></a>
            {% endif %}
    {% endblock %}