{% extends 'base.html.twig' %}
{% block title %}Liste Films - Movie One {% endblock %}
{% block desc %}Liste de nos films{% endblock %}
    {% block body %}
        <main class="main-content">
				<div class="container">
					<div class="page">
						<div class="breadcrumbs">
							<a href="{{ path('accueil') }}">Accueil</a>
							<span>Films</span>
						</div>
                        <h1>{% block ltitle %}Liste de nos Films{% endblock %}</h1>
						<div class="filters">
                            <form action="{{ path('results') }}" method="GET">
                            <input type="hidden" name="page" value="1">
							<select name="genre" id="#" placeholder="Choisissez un genre" onchange='this.form.submit();'>
                                <option value="0">Tous</option>
                            {% for genre in genres %}
								<option value="{{ genre.id }}">{{ genre.nom }}</option>
                            {% endfor %}
							</select>
                            
                            </form>
						</div>
						<div class="movie-list">
                        {% for film in films %}
							<div class="movie">
								{% for img in film.images if img.type == 's' %}<figure class="movie-poster"><img src="{{ img.path }}" alt="{{ film.titre}}"></figure>{% endfor %}
								<div class="movie-title"><a href="{{ path('fiche',{ 'id' : film.id}) }}">{{ film.titre }}</a></div>
								<p>{% for g in film.genres %}{% if loop.first %} {{ g.nom }}{% else %} {{'/ ' ~ g.nom}}{% endif %}{% endfor %}</p>
							</div>
                        {% endfor %}
						</div> <!-- .movie-list -->

						<div class="pagination">
                        {% block pagination %}
                            {% if page > 1 %}
							<a href="{{ path('films',{ 'page' : page - 1  }) }}" class="page-number prev"><i class="fa fa-angle-left"></i></a>
                            {% endif %}
                            {% for nb in 1 .. nbPage %}
                                {% if nb == page %}
                                <span class="page-number current">{{ nb }}</span>
                                {% else %}
                                 <a href="{{ path('films',{ 'page' : nb }) }}" class="page-number">{{ nb }} </a>
                                {% endif %}
                            {% endfor %}
                             {% if page < nbPage %}
							    <a href="{{ path('films',{ 'page' : page + 1   }) }}" class="page-number next"><i class="fa fa-angle-right"></i></a>
                            {% endif %}
                        {% endblock %}
						</div>
					</div>
				</div> <!-- .container -->
			</main>
    {% endblock %}