{% extends 'base.html.twig' %}
	{% block body %}
       <main class="main-content">
				<div class="container">
					<div class="page">
						<div class="row">
							<div class="col-md-9">
								<div class="slider">
									<ul class="slides">
									{% for film in lastFilms %}
										{% for img in film.images if img.type == 'l' %}
											<li><a href="{{ path('fiche',{ 'id' : film.id}) }}"><img src="{{ img.path }}" alt="{{ film.titre }}" draggable="false"></a></li>
										{% endfor %}
									{% endfor %}
									</ul>
								<ul class="flex-direction-nav"><li><a class="flex-prev" href="#"><i class="fa fa-chevron-left"></i></a></li><li><a class="flex-next" href="#"><i class="fa fa-chevron-right"></i></a></li></ul></div>
							</div>
							<div class="col-md-3">
								<div class="row">
								{% for film in lastFilms %}
								    {% if loop.index < 3 %}
										{% for img in film.images if img.type == 's' %}
										<div class="col-sm-6 col-md-12">
											<div class="latest-movie">
												<a href="{{ path('fiche',{ 'id' : film.id}) }}"><img height="180" src="{{ img.path }}" alt="{{ film.titre }}"></a>
											</div>
										</div>
										{% endfor %}
									{% endif %}
								{% endfor %}
									
								</div>
							</div>
						</div> <!-- .row -->
						<div class="row">
							{% for film in lastFilms %}
								    {% if loop.index >= 3 %}
										{% for img in film.images if img.type == 's' %}
										<div class="col-sm-6 col-md-3">
											<div class="latest-movie">
												<a href="{{ path('fiche',{ 'id' : film.id}) }}"><img src="{{ img.path }}" alt="{{ film.titre }}"></a>
											</div>
										</div>
										{% endfor %}
									{% endif %}
								{% endfor %}
						</div> <!-- .row -->
						
						<div class="row">
							<div class="col-md-4">
								<h2 class="section-title">Action</h2>
								<ul class="movie-schedule">
								{% for action in actions %}
									<li>
										<div class="date">{{ action.sortie|date('d/m') }}</div>
										<h2 class="entry-title"><a href="{{ path('fiche',{ 'id' : action.id}) }}">{{ action.titre }}</a></h2>
									</li>
								{% endfor %}
								</ul> <!-- .movie-schedule -->
							</div>
							<div class="col-md-4">
								<h2 class="section-title">Comedie</h2>
								<ul class="movie-schedule">
									{% for comedie in comedies %}
									<li>
										<div class="date">{{ comedie.sortie|date('d/m') }}</div>
										<h2 class="entry-title"><a href="{{ path('fiche',{ 'id' : comedie.id}) }}">{{ comedie.titre }}</a></h2>
									</li>
									{% endfor %}
								</ul> <!-- .movie-schedule -->
							</div>
							<div class="col-md-4">
								<h2 class="section-title">Drame</h2>
								<ul class="movie-schedule">
								{% for drame in drames %}
									<li>
										<div class="date">{{ drame.sortie|date('d/m') }}</div>
										<h2 class="entry-title"><a href="{{ path('fiche',{ 'id' : drame.id}) }}">{{ drame.titre }}</a></h2>
									</li>
									{% endfor %}
								</ul> <!-- .movie-schedule -->
							</div>
						</div>
					</div>
				</div> <!-- .container -->
			</main>
    {% endblock %}
