<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
        <title>{% block title %}Movie One : Tous sur vos films préférés !{% endblock %}</title>
		<meta name="description" content="{% block desc %}Notre site contient plus de 1 millions de fiches de films. Consultez les fiches de vos films préférés ! {% endblock %}">
        {% block stylesheets %}
                <!-- Loading third party fonts -->
           <!-- <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
            <link href="{{ asset('assets/fonts/font-awesome.min.css') }}" rel="stylesheet" type="text/css"> -->
			 <link href="{{ asset('assets/css/style.min.css') }}" rel="stylesheet" type="text/css">
            <!-- Loading main css file -->
            <!-- <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}"> -->
        {% endblock %}
    </head>
    <body>
        {% block header %}
        <div id="site-content">
            <header class="site-header">
				<div class="container">
					<a href="{{ path('accueil') }}" id="branding">
						<img src="{{ asset('assets/images/logo.png') }}" alt="" class="logo">
						<div class="logo-copy">
							<h1 class="site-title">Movie One</h1>
							<small class="site-description">Always with You</small>
						</div>
					</a> <!-- #branding -->

					<div class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item current-menu-item"><a href="{{ path('accueil') }}">Accueil</a></li>
							<li class="menu-item"><a href="{{ path('films',{ 'page' : 1 }) }}">Films</a></li>
						</ul> <!-- .menu -->

						<form action="#" class="search-form">
							<input type="text" placeholder="Search..." class="active">
							<button class="active"><i class="fa fa-search"></i></button>
						</form>
					</div> <!-- .main-navigation -->

					<div class="mobile-navigation"><ul class="menu">
							<li class="menu-item current-menu-item"><a href="{{ path('accueil') }}">Accueil</a></li>
							<li class="menu-item"><a href="{{ path('films',{ 'page' : 1 }) }}">Films</a></li>
						</ul></div>
				</div>
			</header>
        {% endblock %}
        {% block body %}
            <p>Hello World !</p>
        {% endblock %}
        {% block footer %}
            <footer class="site-footer">
				<div class="container">
					<div class="row">
						<div class="col-md-2">
							<div class="widget">
								<h3 class="widget-title">About Me</h3>
								<ul class="no-bullet">
									<li><a href="#">RASOANAIVO</a></li>
									<li><a href="#">Ny Toky Andi</a></li>
									<li><a href="#">N° 41 Groupe A</a></li>
									<li><a href="#">ETU000636</a></li>
								</ul>
							</div>
						</div>	
						<div class="col-md-2">
							<div class="widget">
								<h3 class="widget-title">Social Media</h3>
								<ul class="no-bullet">
									<li><a href="#"><img src="{{ asset('assets/images/css_sprites.png') }}" alt="facebook" style="object-fit: none;object-position: -10px -10px;width: 24px;height: 24px;"> Facebook</a></li>
									<li><a href="#"><img src="{{ asset('assets/images/css_sprites.png') }}" alt="facebook" style="object-fit: none;object-position: -54px -10px;width: 24px;height: 24px;"> Twitter</a></li>
									<li><a href="#"><img src="{{ asset('assets/images/css_sprites.png') }}" alt="facebook" style="object-fit: none;object-position: -10px -54px;width: 24px;height: 24px;"> LinkedIn</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-2">
							<div class="widget">
								<h3 class="widget-title">Newsletter</h3>
								<form action="#" class="subscribe-form">
									<input type="text" placeholder="Email Address">
								</form>
							</div>
						</div>
					</div> <!-- .row -->

					<div class="colophon">Copyright 2014 Company name, Designed by Themezy. All rights reserved</div>
				</div> <!-- .container -->

			</footer>
        </div>
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('assets/js/jquery-1.11.1.min.js')}}"></script>
            <script src="{{ asset('assets/js/plugins.js')}}"></script>
            <script src="{{ asset('assets/js/app.js')}}"></script>
        {% endblock %}
    </body>
</html>
