{% extends 'base.html.twig' %}
{% block title %}{{ film.titre ~ ' - Movie One'}} {% endblock %}
{% block desc %} {{film.synopsis}}{% endblock %}
	{% block body %}
		<main class="main-content">
			<div class="container">
				<div class="page">
					<div class="breadcrumbs">
						<a href="{{ path('accueil')}}">Accueil</a>
						<a href="{{ path('films',{ 'page' : 1 }) }}">Films</a>
						<span>{{ film.titre }}</span>
					</div>

					<div class="content">
						<div class="row">
							<div class="col-md-6">
								{% for img in film.images if img.type == 'm' %}
									<figure class="movie-poster"><img style="margin-left : 50px" height="550" src="{{ img.path }}" alt="{{ film.titre }}"></figure>
								{% endfor %}
							</div>
							<div class="col-md-6">
								<h1 class="movie-title">{{ film.titre }}</h1>
								<div class="movie-summary">
									<p>{{ film.synopsis }}</p>
								</div>
								<ul class="movie-meta">

									<li><strong>Durée :</strong> {{ film.duree|date('H:i:s') }}</li>
									<li><strong>Sortie :</strong> {{ film.sortie|localizeddate('long', 'none') }}</li>
									<li><strong>Genre :</strong>{% for g in film.genres %}{% if loop.first %} {{ g.nom }}{% else %} {{'/ ' ~ g.nom}}{% endif %}{% endfor %}</li>
								</ul>
							</div>
						</div> <!-- .row -->
					</div>
				</div>
			</div> <!-- .container -->
		</main>
		{% endblock %}